body {
	background-color: #111;
	color: #ccc;
	font-family: Arial, Sans-Serif;
}

a {
	color: #777;
}
a:hover,
a:active {
	color: #fff;
}

button {
	padding: 20px 40px;
	font-size: 20px;
	border: none;
	background-color: #333;
	color: #ccc;
	border-radius: 10px;
}

.panels .left-panel {
	width: 240px;
	position: absolute;
	left: 0;
}
.panels .right-panel {
	position: absolute;
	left: 240px;
	width: calc(100% - 240px);
}

.menu {
	padding: 10px;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu .menu-item {
	display: inline-block;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}
.menu .menu-item:hover,
.menu .menu-item:active {
	background-color: #333;
}
.menu .menu-item.selected {
	background-color: #ddd;
	color: #000;
}

.page {
	padding: 0px 30px;
	margin-bottom: 50px;
}

.cards .list {
	display: flex;
}
.cards .card {
	width: 30%;
	margin: 10px;
	border: 1px solid #fff;
	padding: 20px;
}
.cards .card .title {
	font-weight: bold;
	font-size: 150%;
	margin: 10px 0;
}
.cards .card .underline {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #fff;
}
.cards .card .header {
	position: relative;
	background-color: #333;
	padding: 10px;
	margin-bottom: 20px;
}
.cards .card .header .close {
	position: absolute;
	top: 10px;
	right: 20px;
}
.cards .card .links {
	margin-top: 20px;
}

.matrix .row {
	display: flex;
}
.matrix .row .col {
	width: 20px;
	padding: 10px;
}